name: Build & Deploy mdBook
on: workflow_dispatch

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: "0.5.2"
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build
        run: |
          cd docs
          python make.py build
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: "docs/book/"
      - uses: actions/deploy-pages@v4
